<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引入外部数据库配置文件-->
    <properties resource="jdbc.properties"></properties>

    <!--配置别名-->
    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="int"/>
        <typeAlias type="java.lang.String" alias="string"/>
    </typeAliases>

    <!-- 配置数据库环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--引入外部配置文件-->
    <mappers>
        <mapper resource="com/xiachao/mapper/OrderMapper.xml"></mapper>
        <mapper resource="com/xiachao/mapper/UserMapper.xml"></mapper>
        <mapper resource="com/xiachao/mapper/PersonMapper.xml"></mapper>
    </mappers>

</configuration>
