<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

    <resultMap id="orderMap" type="com.xiachao.pojo.Order">
        <id column="orderId" property="orderId"></id>
        <result column="orderTime" property="orderTime"></result>
        <result column="total" property="total"></result>
        <result column="personId" property="person.personId"></result>
        <result column="personName" property="person.personName"></result>
        <result column="birthday" property="person.birthday"></result>
    </resultMap>

    <select id="findAll" resultMap="orderMap">
        select * from orders o,person p where o.personId=p.personId
    </select>

</mapper>
